/* Fonts */
@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-light.woff2') format('woff2'),
    url('./fonts/manrope/manrope-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-regular.woff2') format('woff2'),
    url('./fonts/manrope/manrope-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-medium.woff2') format('woff2'),
    url('./fonts/manrope/manrope-light.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-semi-bold.woff2') format('woff2'),
    url('./fonts/manrope/manrope-semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-bold.woff2') format('woff2'),
    url('./fonts/manrope/manrope-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope/manrope-extra-bold.woff2') format('woff2'),
    url('./fonts/manrope/manrope-extra-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-light.woff2') format('woff2'),
    url('./fonts/roboto/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-regular.woff2') format('woff2'),
    url('./fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('./fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter/inter-regular.woff2') format('woff2'),
    url('./fonts/inter/inter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter/inter-bold.woff2') format('woff2'),
    url('./fonts/inter/inter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/dm-sans/dm-sans-bold.woff2') format('woff2'),
    url('./fonts/dm-sans/dm-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/neue-machina/neue-machina-ultra-bold.woff2') format('woff2'),
    url('./fonts/neue-machina/neue-machina-ultra-bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* End Fonts */

/* General */
:root {
  --accent-color:#DA2F3E;
  --main-text-color: #212121;
  --light-text-color: #C9D2D8;
  --header-bg-color: #BFBFBF;
  --footer-bg-color: #27282B;
  --footer-text-color: #BFBFBF;
  --xxs-screen: 320px;
  --xs-screen: 575px;
  --sm-screen: 767px;
  --md-screen: 991px;
  --lg-screen: 1199px;
  --xl-screen: 1440px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: 'Manrope', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--main-text-color);
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 300px;
  max-width: 1675px;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.button {
  background-color: var(--accent-color);
  color: #fff;
  font-family: 'Manrope', 'Arial', sans-serif;
  font-weight: 800; 
  border: none;
  cursor: pointer;
}
.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  border: 2px solid var(--accent-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.checkbox:has(.checkbox__field:checked)::before {
  background-color: var(--accent-color);
  background-image: url(./img/checkbox-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: .65rem;
}
.checkbox__field {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
}
/* End General */

/* Media General */
@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 16px;
  }
  .container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* End Media General */

/* Logo */
.logo {
  display: block;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo:hover {
  opacity: 0.6;
}
.logo__img {
  width: 100%;
  height: auto;
}
/* End Logo */

/* Header */
.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  width: 100%;
}
.header__container {
  min-width: 300px;
  max-width: 1675px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;                     
}
.header__burger {
  width: 1.75rem;
  height: .7rem;
  border: none;
  padding: 0;
  background-color: transparent;   
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #000;
  width: 100%;
  height: 3px;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger_menu_open::before,
.header__burger_menu_open::after {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: 50%;
}
.header__burger_menu_open::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.header__burger_menu_open::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.header__logo {
  width: 7rem;
}
.header__city {
  color: inherit;
  text-decoration: none;
  display: block;
  border-bottom: .1rem solid var(--accent-color);
  line-height: 1.4;
  font-family: 'Roboto', 'Arial', sans-serif;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: auto;    
}
.header__menu {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.2rem;
     -moz-column-gap: 2.2rem;
          column-gap: 2.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;                         
}
.header__menu-item {
  color: inherit;
  text-decoration: none;
  display: block;
}
.header__menu-item:hover,
.header__menu-item_active {
  text-shadow: 0 0 1px var(--main-text-color), 0 0 1px var(--main-text-color);
}
.header__cart {
  width: 1.6rem;
  margin-left: auto;
}
.header__sign-in {
  width: 1.15rem;
}
.header__phone {
  padding: .55rem 1.15rem;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: .8rem;
  border-radius: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;    
}
.header__phone::before {
  content: '';
  display: block;
  width: .8rem;
  height: .8rem;
  background-image: url(./img/white-phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* End Header */

/* Media Header */
@media(max-width: 1700px) {
  .header__container {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .header__city,
  .header__menu-item {
    font-size: 0.9rem;
  }
}
@media (max-width: 1440px) {
  .header__city,
  .header__menu {
    font-size: 0.7rem;
  }
  .header__menu {
    -webkit-column-gap: 1.1rem;
       -moz-column-gap: 1.1rem;
            column-gap: 1.1rem;
  }
}
@media (max-width: 1199px) {
  .header__city,
  .header__menu {
    font-size: 0.7rem;
  }
}
@media (max-width: 991px) {
  .header__burger {
    display: block;
  }
  .header__menu {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    font-size: 1rem;
    opacity: 0;
  }
  .header__menu_open {
    top: 100%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__cart {
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;                
  }
}
@media (max-width: 575px) {
  .header__burger {
    width: 1.4rem;
  }
  .header__phone {
    padding: 0.55rem;
    border-radius: 50%;
  }
  .header__phone-number {
    display: none;
  }
}
/* End Media Header */

/* Main Screen */
.main-screen {
  background-image: url(./img/main-screen-bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 42.5rem;
  -webkit-animation-name: main-screen-bg-animation;
          animation-name: main-screen-bg-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  will-change: background-image;
  padding-top: 7.9rem;
  padding-bottom: 2rem;                  
}
@-webkit-keyframes main-screen-bg-animation {
  0% {
    background-image: url(./img/main-screen-bg-1.svg);
  }
  50% {
    background-image: url(./img/main-screen-bg-2.svg);
  }
  100% {
    background-image: url(./img/main-screen-bg-3.svg);
  }
}
@keyframes main-screen-bg-animation {
  0% {
    background-image: url(./img/main-screen-bg-1.svg);
  }
  50% {
    background-image: url(./img/main-screen-bg-2.svg);
  }
  100% {
    background-image: url(./img/main-screen-bg-3.svg);
  }
}
.main-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen__promo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding-right: 1.3rem;              
}
.main-screen__h1 {
  font-family: 'Neue Machina', monospace;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1;
  max-width: 25rem;
  display: inline-block;
  margin-top: 1.2rem;
  margin-bottom: 1.75rem;
}
.main-screen__h1-img {
  display: block;
}
.main-screen__h1::after {
  content: '';
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  background-image: url(./img/heading-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.main-screen__list {
  margin: 0;
  padding: 0;
  list-style-image: url(./img/ul-check.svg);
  list-style-position: inside;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .95rem;
}
.main-screen__call-to-action {
  position: absolute;
  top: 9.5rem;
  right: 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;
  display: block;
}
.main-screen__call-to-action::after {
  content: '';
  display: block;
  width: 15.25rem;
  height: 5.5rem;
  background-image: url(./img/main-screen-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: .65rem;
}
.main-screen__form {
  padding-top: 2.3rem;
  padding-left: 40px;
  padding-right: 2rem;
  padding-bottom: 3.3rem;
  width: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.4rem;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: 0px 4px 47px 0px rgba(93, 0, 108, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(93, 0, 108, 0.25);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);       
}
.main-screen__form-heading {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
  margin: 0;
}
.main-screen__form-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .8rem;
}
.main-screen__form-input {
  border-radius: 40px;
  border: 1px solid #DDDFF9;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left 1.85rem center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.6rem;
  padding-left: 3.6rem;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-size: .8rem;
}
.main-screen__form-input-phone {
  background-image: url(./img/red-phone.svg);
}
.main-screen__form-input-site {
 background-image: url(./img/red-link.svg); 
}
.main-screen__form-agreement {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: .7rem;
  line-height: 1.2;
  color: rgba(25, 24, 37, 0.75);
  margin-top: .5rem;
}
.main-screen__form-button {
  padding: 1.2rem 3rem;
  border-radius: 2.5rem;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.main-screen__accreditation {
  background-color: #fff;
  padding-top: 1.35rem;
  padding-bottom: 1.35rem;
  position: relative;
  color: #4B79A4;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
.main-screen__accreditation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;               
}
/* End Main Screen */

/* Media Main Screen */
@media (max-width: 1270px) {
  .main-screen__call-to-action {
    font-size: .7rem;
  }
  .main-screen__call-to-action::after {
    width: 10rem;
    height: 5rem;
  }
}
@media (max-width: 1040px) {
  .main-screen__call-to-action {
    display: none;
  }
}
@media (max-width: 991px) {
  .main-screen__h1-img {
    width: 15rem;
    height: auto;
  }
  .main-screen__accreditation {
    font-size: 1rem;
  }
  .main-screen__accreditation-logo {
    width: 7.5rem;
    height: auto;
  }
}
@media (max-width: 767px) {
  .main-screen__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;        
  }
  .main-screen__form {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main-screen__h1 {
    font-size: 2.5rem;
  }
  .main-screen__accreditation {
    font-size: 0.8rem;
  }
  .main-screen__accreditation-container {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}
/* End Media Main Screen */